<ion-list>

  <ion-searchbar mode="ios" placeholder="Buscar"></ion-searchbar>
  <!--<ion-item class="item-search">
    <ion-icon position="fixed" name="search"></ion-icon>&nbsp;&nbsp;
    <ion-input></ion-input>
  </ion-item>-->

  <ion-item-sliding *ngFor="let milestone of milestones">
    <ion-item (click)="openDetails()">
      <ion-icon name="square" slot="start" class="status-{{milestone.idStatus}}"></ion-icon>
      <ion-label>
        <small>{{milestone.code}}</small>
        <h2>{{milestone.name}}</h2>
      </ion-label>
      <ion-button slot="end">
        <ion-icon name="alarm" slot="end"></ion-icon>
        <span>{{milestone.delay}}</span>
      </ion-button>
    </ion-item>
  </ion-item-sliding>

</ion-list>