<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Runbook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="runbook">

  <ion-toolbar mode="ios" class="subtoolbar" style="position: fixed !important;">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="funnel" class="subtoolbar-icon"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openTimes()">
      <ion-icon slot="icon-only" name="information-circle" class="subtoolbar-icon"></ion-icon>
    </ion-buttons>
    <ion-title (click)="changeRunbook()">Hitos: {{runbook.nombre}}</ion-title>
  </ion-toolbar>

  <div style="margin-top: 48px !important;">
  <ion-grid class="grid-review" *ngIf="viewTimes">
    <ion-row>
      <ion-col>
        <ion-card class="car-review">
          <ion-card-header>
            <ion-card-subtitle>Atraso Actual (h)</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content><h1>{{runbook.tiempoRetraso}}</h1></ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="car-review">
          <ion-card-header>
            <ion-card-subtitle>Estimación envío BR</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content><h1>{{runbook.fechaEstimada}}</h1></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment (ionChange)="changeTab($event)">
    <ion-segment-button value="prev">
      <ion-label>Finalizados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="today" checked>
      <ion-label>Activos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="next">
      <ion-label>Próximos</ion-label>
    </ion-segment-button>
  </ion-segment>
  </div>

  <app-milestones [milestones]="milestonesByDate" [images]="imagesPerson"></app-milestones>


</ion-content>

<app-tabbar></app-tabbar>