<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Runbook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-tabbar></app-tabbar>

  <ion-toolbar mode="ios" class="subtoolbar">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="calendar" class="subtoolbar-icon"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openTimes()">
      <ion-icon *ngIf="!viewTimes" slot="icon-only" name="play" class="subtoolbar-icon" style="transform: rotate(90deg);"></ion-icon>
      <ion-icon *ngIf="viewTimes" slot="icon-only" name="play" class="subtoolbar-icon" style="transform: rotate(-90deg);"></ion-icon>
    </ion-buttons>
    <ion-title>Mayo 2019</ion-title>
  </ion-toolbar>

  <ion-grid class="grid-review" *ngIf="viewTimes">
    <ion-row>
      <ion-col>
        <ion-card class="car-review">
          <ion-card-header>
            <ion-card-subtitle>Atraso Actual (h)</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content><h1>02:30</h1></ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="car-review">
          <ion-card-header>
            <ion-card-subtitle>Estimación envío BR</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content><h1>06/05/2019</h1></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="antes" checked>
      <ion-label>Anteriores</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hoy">
      <ion-label>Hoy</ion-label>
    </ion-segment-button>
    <ion-segment-button value="siguiente">
      <ion-label>Siguientes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-milestones></app-milestones>


</ion-content>
