<ion-list>

  <ion-searchbar mode="ios"></ion-searchbar>

  <ion-item-sliding *ngFor="let activity of activities">
    <ion-item>
      <ion-icon name="square" slot="start" class="status-{{activity.idEstado}}"></ion-icon>
      <ion-label>
        <small>{{activity.codigo}}</small>
        <h2>{{activity.nombre}}</h2>
      </ion-label>
      <ion-button slot="end">
        <ion-icon name="alarm" slot="end"></ion-icon>
        <span>{{activity.delay}}</span>
      </ion-button>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success">
        <ion-icon slot="top" name="checkmark-circle" class="swipe-menu-icon"></ion-icon>
        <small class="swipe-menu-text">Recepción<br>Actividad</small>
      </ion-item-option>
      <ion-item-option color="primary">
        <ion-icon slot="top" name="checkmark-circle" class="swipe-menu-icon"></ion-icon>
        <small class="swipe-menu-text">Cerrar<br>OK</small>
      </ion-item-option>
      <ion-item-option color="danger">
        <ion-icon slot="top" name="close-circle" class="swipe-menu-icon"></ion-icon>
        <small class="swipe-menu-text">Cerrar<br>Error</small>
      </ion-item-option>
      <ion-item-option color="warning">
        <ion-icon slot="top" name="alert" class="swipe-menu-icon"></ion-icon>
        <small class="swipe-menu-text">Reportar<br>Retraso</small>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>